* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Base styles */
body {
  background-color: #000;
  font-family: "Poppins", sans-serif;
  margin: 20px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.episode {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);

  width: 450px;
  height: 500px;
  margin: 8px auto;

  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.episode img {
  width: 100%;
  align-self: flex-end;
  padding-bottom: 10px;
}

.episode h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 20px;
}

.episode p {
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
  font-size: small;
  margin-left: 10px;
  margin-right: 10px;
  align-self: flex-end;
  text-align: justify;
  margin-top: 5px;
  hyphens: auto;
  width: 90%;
  height: 35%;
}

.episode a {
  display: inline-block;
  padding: 10px;
  background-color: #0077ff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin: 20px;
  transition: background-color 0.2s ease-in-out;
}

.episode a:hover {
  background-color: #005ae6;
}

/* Footer styles */
footer {
  background-color: #000;
  color: #fff;
  justify-content: space-between;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 30px;

  text-align: center;
}

footer div:first-of-type {
  font-size: 14px;
  font-weight: 700;
}

footer div:last-of-type {
  font-size: 14px;
}

footer a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

footer a:hover {
  color: #ccc;
}

/* Styles for the search bar */
#searchBar,
#dropdownSelect {
  margin-left: 20px;
  margin-top: 20px;
  width: 30%;
  padding: 10px;
}

/* Styles for the episodes flex container */
.grid {
  display: flex;

  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
}

/* Styles for the pagination links */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  font-size: 16px;
  font-weight: 700;
}

.pagination a {
  margin: 0 5px;
  text-decoration: none;
  color: blue;
}
